* {
    box-sizing: border-box;
    padding: 0px;
    border: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    /* border: 1px solid red; */
}

h1,
h2,
h3,
h4,
h5 {
    margin: 8px 0px;
}

.navigation {
    width: 100%;
    padding: 0px 15%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    color: white;
}

.navigation a {
    color: white;
    text-decoration: none;
}

.nav-link {
    padding: 12px 8px;
    text-transform: uppercase;
    font-size: 0.9em;
}

.nav-link:hover {
    color: #fdc500
}

.nav-item {
    display: inline-block;
    position: relative;
}

.extra {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.extra-icons {
    font-size: 1.2em;
    margin-left: 12px;
}

.logo i {
    display: inline-block;
    font-size: 1.4em;
}

/* MAIN-CONTAINER */
.main-container {
    width: 100%;
    display: grid;
    grid-template-columns: 10% 8fr 10fr 10%;
    grid-template-areas: '. a b .';

    position: relative;
    top: -40px;
}

.content {
    grid-area: a;
}

/* FILMS */

ul#films {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
}

li.item,
img.poster {
    border-radius: 4px;
}

li.item {
    display: block;
    flex-grow: 1;
    flex-shrink: 1;
    cursor: pointer;
    flex-basis: 240px;
    position: relative;
    max-width: 49%;
}

li.item:hover div.film-info,
li.item:hover i.film-delete {
    opacity: 1;
}

img.poster {
    display: block;
    width: 100%;
}

i.film-delete {
    opacity: 0;
    transition: opacity 0.3s linear;

    display: inline-block;
    position: absolute;
    right: 8px;
    top: 8px;
    font-size: 1.4em;
    padding: 12px;
    color: white;
    border-radius: 50%;
}

i.film-delete:hover {
    color: #fdc500;
}

div.film-info {
    opacity: 0;
    transition: opacity 0.3s linear;

    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    padding: 48px 16px 16px 16px;
    color: white;
    border-radius: 0px 0px 8px 8px;

    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.5) 70%, rgba(0, 0, 0, 0) 100%);
}

div.film-info p.title {
    color: #fdc500;
    font-weight: bold;
    text-transform: uppercase;
}

div.film-info p.tickets {
    font-size: 0.9em;
    display: inline-block;
    color: black;
    background-color: #fdc500;
    border-radius: 16px;
    padding: 2px 12px;
    margin: 12px 0px 8px 0px;
}

.section-title-container {
    width: 100%;
    display: grid;
    grid-template-columns: 10% 1fr 10%;
    grid-template-areas: '. title .';
    padding: 48px 0px 64px 0px;
    background-color: #fdc500;
}

.section-title {
    grid-area: title;
    font-size: 3.2em;
    font-weight: 600;
    text-transform: uppercase;
}

/* Details */
.details {
    grid-area: b;
    padding-left: 32px;
}

.film-summary {
    background-color: white;
    padding: 24px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 4px;
    position: sticky;
    top: 24px;
}

.sub-header {
    color: #fdc500;
    text-transform: uppercase;
}

.film-description {
    display: grid;
    grid-template-columns: 1fr 140px;
    grid-template-areas: 'text image';
}

.film-description-text {
    grid-area: text;
}

.film-title {
    text-transform: capitalize;
}

.film-synopsis {
    padding-right: 24px;
    font-size: 0.9em;
    margin-bottom: 24px;
}

.film-description-poster {
    grid-area: image;
}

.film-description-poster img {
    display: inline-block;
    position: relative;
    width: 100%;
    border-radius: 8px;
}

.film-time {
    font-size: 0.9em;
    line-height: 1.8;
    margin-bottom: 24px;
}

.film-runtime,
.film-showtime,
.film-tickets {
    display: inline-block;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-underline-offset: 4px;
}

a.purchase {
    display: inline-block;
    padding: 12px 32px;
    background-color: #000;
    color: white;
    border-radius: 48px;
    margin-top: 24px;
    text-decoration: none;
    font-size: 1em;
    text-transform: uppercase;
}

a.purchase i {
    display: inline-block;
    margin-left: 4px;
}

a.purchase:hover {
    background-color: rgb(60, 60, 60);
}

.hide,
.remove-film-description {
    display: none;
}

.show,
.show-film-description {
    display: block;
}